/* {{@@ header() @@}} */
@import "styles/color.css";

* {
  font-family: {{@@ font @@}};
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0);
}

#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#temperature,
#tray,
#window {
  color: @fg_primary;
  margin: 0 0px;
  padding: 0 4px;
}

#mode {
  color: @red;
}

#window {
  background-color: @bg_primary;
}

#pulseaudio.muted {
  color: @grey;
}

#disk {
  color: @orange;
}


@import "styles/battery.css";
@import "styles/cpu.css";
@import "styles/memory.css";
@import "styles/workspaces.css";
