/* {{@@ header() @@}} */
@import "styles/color.css";

* {
  font-family: {{@@ font @@}};
  font-size: 12px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-cpu-temperature,
#custom-media,
#custom-notification,
#disk,
#language,
#memory,
#network
#mpd,
#network,
#pulseaudio,
#submap,
#tray,
#window,
#workspaces {
  margin: 0 4px;
  padding: 0 12px;
  background: @bg_primary_darker;
  border-radius: 26px;
  color: @fg_primary;
}

#submap {
  color: @red;
}

#pulseaudio.muted {
  color: @grey;
}

#custom-notification.dnd-notification {
  color: @grey;
}

#disk {
  color: @orange;
}


@import "styles/battery.css";
@import "styles/cpu.css";
@import "styles/memory.css";
@import "styles/workspaces.css";
