#window {
  font-family: '{{@@ font @@}}';
  font-size: 11px;
}

#outer-box {
	background-color: #282C33;
	border-color: #2e343f;
	color: #8ca0aa;
}

#input {
  padding: 8px;
  border-bottom: 3px;
	color: #ffffff;
	border-color: #2e343f;
	background-color: #282C33;
}

#entry:selected {
	background-color: #2e343f;
  border-width: 1px;
  color: #ffffff;
}


#entry {
  padding: 12px;
}

#img {
  padding: 0px 10px 0px 10px;
}
