/* {{@@ header() @@}} */

#battery {
  color: @bg_primary_darker;
}

#battery.full {
  background-color: @grshade5;
}

#battery.good {
  background-color: @green;
}

#battery.ok {
  background-color: @lime;
}

#battery.warning {
  background-color: @yellow;
}

#battery.bad {
  background-color: @amber;
}

#battery.critical {
  background-color: @orange;
}

@keyframes blink {
    to {
        background-color: transparent;
    }
}

#battery.critical:not(.Unknown) {
    background-color: @orange;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
