#workspaces button {
    padding: 0px;
    background-color: transparent;
    color: @fg_primary;

    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

@keyframes workspace-urgent {
  from {
    color: @fg_primary;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
  }
  to {
    box-shadow: inset 0 -3px @blue;
    color: @blue;
  }
}

#workspaces button.urgent {
  box-shadow: inset 0 -3px @blue;
  color: @blue;
  animation-name: workspace-urgent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes workspace-focus {
  from {
    color: @fg_primary;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
  }
  to {
    box-shadow: inset 0 -3px @red;
    color: @red;
  }
}

#workspaces button.focused {
  box-shadow: inset 0 -3px @red;
  color: @red;
  animation-name: workspace-focus;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
