/* {{@@ header() @@}} */

#workspaces {
	background: @bg_primary_darker;
	border-radius: 26px;
	margin-bottom: 0;
	margin-left: 12px;
  padding: 0 0px;
}

#workspaces button {
	background: transparent;
	color: @fg_primary;
	transition: none;
}

@keyframes workspace-urgent {
  from {
    background-color: @bg_primary_darker;
  }
  to {
    background-color: @blue;
  }
}

#workspaces button.urgent {
  background-color: @blue;
  animation-name: workspace-urgent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@define-color active_workspace_color #bf8300;
@keyframes workspace-active {
  from {
    background-color: @bg_primary_darker;
  }
  to {
    background-color: @active_workspace_color;
  }
}

#workspaces button.active {
  color: @bg_primary_darker;
  border-radius: 26px;
  font-weight: bold;
  background-color: @active_workspace_color;
  animation-name: workspace-active;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}
